@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

html body {
  width: 100%;
}

html body .wrap {
  background-color: black;
  padding: 15px;
  min-width: 1440px;
}

@media screen and (min-width: 768px) {
  html body .wrap {
    height: 100%;
  }
}

#content {
  position: relative;
  color: #ffffff;
  font-family: 微軟正黑體;
}

#content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px;
  margin-right: 45px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

#content .item {
  position: relative;
  letter-spacing: 0.2em;
  font-size: 20px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#content .item a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  #content header {
    margin-right: 95px;
  }
  #content .item {
    font-size: 32px;
    margin-top: 36px;
  }
}

#tog {
  margin-left: 20px;
}

#toggler {
  display: none;
}

#content .ham-container {
  position: absolute;
  margin-top: 9px;
  top: 18px;
  right: 10px;
  display: block;
  width: 35px;
  height: 30px;
}

#content .ham-container span {
  position: relative;
  display: block;
  background-color: #ffffff;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0;
  -webkit-transition: top .3s ease-in-out, height .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: top .3s ease-in-out, height .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, top .3s ease-in-out, height .3s ease-in-out;
  transition: transform .3s ease-in-out, top .3s ease-in-out, height .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#content .ham-container span ~ span {
  margin-top: 7px;
}

@media screen and (min-width: 768px) {
  #content .ham-container {
    width: 100px;
    margin-top: 20px;
  }
  #content .ham-container span {
    height: 8px;
  }
  #content .ham-container span ~ span {
    margin-top: 18px;
  }
}

#toggler:checked + header {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#toggler:checked ~ label .ham-container span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  -webkit-transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: top .3s ease-in-out, transform .3s ease-in-out;
  transition: top .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#toggler:checked ~ label .ham-container span:nth-child(2) {
  height: 0;
  -webkit-transition: height .2s;
  transition: height .2s;
}

#toggler:checked ~ label .ham-container span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -2px;
  -webkit-transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: top .3s ease-in-out, transform .3s ease-in-out;
  transition: top .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

@media screen and (min-width: 768px) {
  #toggler:checked ~ label .ham-container span:nth-child(1) {
    top: 20px;
  }
  #toggler:checked ~ label .ham-container span:nth-child(3) {
    top: -7px;
  }
}

.context {
  font-size: 50px;
  margin: 20px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.context p {
  width: 600px;
  padding: 20px;
  text-align: justify;
}

.context img {
  margin: 0 30px 20px 0;
  vertical-align: middle;
  border-radius: 10px 10px 10px 10px;
}

.line {
  display: inline-block;
  height: 1px;
  width: 30%;
  background-color: #ffffff;
  position: relative;
  bottom: 30px;
}

#anchor1,
#anchor2,
#anchor3,
#anchor4 {
  font-size: 100px;
  text-align: center;
}

.Intro {
  margin: 0 auto;
  text-align: center;
}

.Intro .introduce {
  margin-top: 40px;
}

.Intro .introduce p {
  opacity: 0;
  white-space: nowrap;
  text-align: center;
  line-height: 2em;
  font-size: 30px;
  position: absolute;
  left: 0;
  right: 100%;
}

.Intro .introduce.active p {
  opacity: 1;
  right: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.section1,
.section2,
.section3,
.section4 {
  margin: 40px auto;
  width: 1200px;
  padding: 10px;
}

.note {
  margin: 70px auto;
  margin-bottom: 0;
  text-align: center;
}

.note .item img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  vertical-align: middle;
  margin-bottom: 40px;
}

.note .item h2 {
  text-align: center;
}

.note .item ul {
  text-align: left;
  padding-top: 20px;
  display: table;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .note .item ul {
    font-size: 40px;
    color: #00EC00;
  }
  .note .item h2 {
    font-size: 60px;
  }
}

.work {
  margin: 0 auto;
  text-align: center;
}

.ifm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ifm .ifm-text {
  font-size: 24px;
  letter-spacing: 0.3em;
  line-height: 40px;
  color: blanchedalmond;
}

@media screen and (min-width: 768px) {
  .ifm .ifm-text {
    font-size: 34px;
  }
}

.to-top {
  background-color: #ffffff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .to-top {
    width: 150px;
    height: 150px;
    right: 99px;
  }
  .to-top.active {
    bottom: 99px;
  }
}

#footer {
  min-width: 1440px;
  color: #ffffff;
  background-color: #222;
  width: 100%;
  padding: 10px 0;
}

#footer p {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0;
}

#footer p a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}

#footer p a:visited {
  color: #800080;
}

#footer p a:after {
  content: '';
  position: absolute;
  top: 19px;
  height: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  border-bottom: 1px solid #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

#footer p a:hover:after {
  right: 0;
}

#map {
  width: 400px;
  height: 400px;
}
/*# sourceMappingURL=indexx.css.map */